<%= page_heading "We're having trouble accessing your invitation" %>

<p>Sorry, we couldn't find any pending invitations using the verification code you provided.  If you typed it in manually, please check for errors.  If you're still having trouble, you might ask whoever setup your account to try again.</p>
